nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em;
}

.sidebar-btn {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

.logo-links-container {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 1.55em;
}

a {
  text-decoration: none;
  color: #222;
  font-size: 1rem;
}
