<nav>
  <div class="logo-links-container">
    <h1 routerLink="/" routerLinkActive="active">Commune-icate</h1>
    <ng-container *ngIf="loggedIn">
      <ul class="desktop-nav-links">
        <li><a routerLink="friends"> routerLinkActive="active"Friends</a></li>
        <li><a routerLink="meet-users" routerLinkActive="active">Meet</a></li>
        <li>
          <a routerLink="message-users" routerLinkActive="active">Message</a>
        </li>
        <li><button>Logout</button></li>
      </ul>
      <button class="desktop-nav-links" (click)="loggingIn()">Log Out</button>
      <app-nav-sidebar
        [navbarClicked]="navbarClicked"
        (sidebarClicked)="sideBarToggle($event)"
      ></app-nav-sidebar>
    </ng-container>
  </div>
  <button class="sidebar-btn" *ngIf="loggedIn" (click)="sideBarToggle(true)">
    <i class="fa-solid fa-bars"></i>
  </button>
  <div *ngIf="!loggedIn">
    <button (click)="loggingIn()">Sign In</button>
    <a routerLink="register" routerLinkActive="active">Sign Up</a>
  </div>
</nav>
