<nav>
  <div class="logo-links-container">
    <h1>Commune-icate</h1>
    <ng-container *ngIf="loggedIn">
      <ul>
        <li><a href="#">Friends</a></li>
        <li><a href="#">Meet</a></li>
        <li><a href="#">Message</a></li>
      </ul>
      <button (click)="loggingIn()">Log Out</button>
      <app-nav-sidebar
        [navbarClicked]="navbarClicked"
        (sidebarClicked)="sideBarToggle($event)"
      ></app-nav-sidebar>
    </ng-container>
  </div>
  <button class="sidebar-btn" *ngIf="loggedIn" (click)="sideBarToggle(true)">
    <i class="fa-solid fa-bars"></i>
  </button>
  <div *ngIf="!loggedIn">
    <button (click)="loggingIn()">Sign In</button>
    <button>Sign Up</button>
  </div>
</nav>
