<section>
  <div class="sign-up-container">
    <h4>Sign Up and Talk to New Friends!</h4>
    <a routerLink="/register" routerLinkActive="active">Sign Up</a>
  </div>
  <h3>A Way to Communicate to Friends</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque obcaecati
    similique itaque aut quam dolore! Vitae veniam cupiditate doloremque iusto
    quia dolor libero ex. Expedita repellendus illum perferendis sequi maiores
    labore, animi ut delectus veritatis!
  </p>
</section>
