<form>
  <h2>Register Account</h2>
  <div class="letter-input-container">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" />
  </div>
  <div class="letter-input-container">
    <label for="enter-email">Email: </label>
    <input type="email" name="enter-email" id="enter-email" />
  </div>
  <div class="letter-input-container">
    <label for="enter-password">Password: </label>
    <input type="password" name="enter-password" id="enter-password" />
  </div>
  <div class="letter-input-container">
    <label for="reenter-password">Re-enter Password: </label>
    <input type="password" name="reenter-password" id="reenter-password" />
  </div>
  <div class="checkbox-container">
    <input
      type="checkbox"
      name="terms-and-conditions"
      id="terms-and-conditions"
    />
    <label for="terms-and-conditions">I accept the terms and conditions</label>
  </div>
  <button>Submit</button>
</form>
